.footer{
    @include flex(space-between,center);
    color: desaturate($color-accent,15%);
    position:sticky;
    bottom: 0;
    height: $header-height*.5;
    background-color: $color-primary;
    
    &__link{
        margin:0 10px;
    }
}