.header{
    @include flex(center,center,row);
    background-color: $color-primary;
    height: $header-height;
    border-bottom:1px solid $color-border;


    &__logo{
        height: $header-height*2/3;
    }
}