@font-face {
  font-family: "cambria";
  src: url("fonts/cambria/Cambria-W01-Regular.woff"), url("fonts/cambria/Cambria-W01-Regular.eot"), url("fonts/cambria/Cambria-W01-Regular.otf"), url("fonts/cambria/Cambria-W01-Regular.ttf");
}
@font-face {
  font-family: "croissant";
  src: url("fonts/croissant/croissant-one.woff"), url("fonts/croissant/croissant-one.eot"), url("fonts/croissant/croissant-one.otf"), url("fonts/croissant/croissant-one.ttf");
}
@font-face {
  font-family: "dancing";
  src: url("fonts/dancing/dancing-script.woff"), url("fonts/dancing/dancing-script.eot"), url("fonts/dancing/dancing-script.otf"), url("fonts/dancing/dancing-script.ttf");
}
@font-face {
  font-family: "devonshire";
  src: url("fonts/devonshire/devonshire-regular.woff"), url("fonts/devonshire/devonshire-regular.eot"), url("fonts/devonshire/devonshire-regular.otf"), url("fonts/devonshire/devonshire-regular.ttf");
}
@font-face {
  font-family: "kaushan";
  src: url("fonts/kaushan/kaushan-script.woff"), url("fonts/kaushan/kaushan-script.eot"), url("fonts/kaushan/kaushan-script.otf"), url("fonts/kaushan/kaushan-script.ttf");
}
@font-face {
  font-family: "segoe";
  src: url("fonts/segoe/segoe-print-v2.woff"), url("fonts/segoe/segoe-print-v2.eot"), url("fonts/segoe/segoe-print-v2.otf"), url("fonts/segoe/segoe-print-v2.ttf");
}
/*
@mixin chic-h1{
    font-family: croissant;
    @include linearGradient-text($color-accent-chic-1,$color-accent-chic-2);
    font-size:3vmax;
    line-height: 8vmax;
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: unset;
}

.header {
  font-size: 2vmax;
}

.footer {
  font-size: 2vmax;
}

.home-container__menu-cover--note {
  color: #5f2e34;
  background-color: #fcdfdb;
}
.home-container__menu-cover--chic {
  background-color: #fff5fe;
}
.home-container__menu-cover--delice {
  background-color: #f9f9f9;
}
.home-container__menu-cover--palette {
  background-color: #fdfffd;
}

.menu-cover__heading {
  font-size: 4vmax;
  line-height: 8vmax;
}
.menu-cover__heading--chic {
  font-size: 3vmax;
  font-family: croissant;
  background: linear-gradient(70deg, #cb802f, #b17bce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-cover__heading--note {
  font-family: devonshire;
}
.menu-cover__heading--delice {
  font-family: dancing;
  background: linear-gradient(70deg, #173bdf, #2092fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-cover__heading--palette {
  font-family: kaushan;
  background: linear-gradient(70deg, #3e923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-cover__title {
  font-size: 4vmax;
  line-height: 8vmax;
  font-family: segoe;
}
.menu-cover__title--chic {
  font-family: cambria;
  color: #cb802f;
}
.menu-cover__title--note {
  text-transform: uppercase;
}
.menu-cover__title--delice {
  color: #2092fa;
}
.menu-cover__title--palette {
  color: #3e923a;
}

/*--------------- effet wriggle sur les boutons ---------------*/
.btn--wriggle:active {
  animation: wriggle linear 150ms;
}

@keyframes wriggle {
  0% {
    transform: translateX(3px);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdcb46;
  background-color: #579c87;
  height: 15vmin;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #efc554;
  position: sticky;
  bottom: 0;
  height: 7.5vmin;
  background-color: #579c87;
}
.footer__link {
  margin: 0 10px;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 1rem auto;
}
.home-container__menu-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vmax;
  height: 60vmax;
  margin: 1rem 1rem;
  text-align: center;
  box-shadow: 0 0 20px gainsboro;
  overflow: hidden;
}
.home-container__menu-cover:hover > a {
  transition: transform 500ms linear;
  transform: scale(1.1);
  opacity: 0.7;
}

.menu-cover__image {
  width: 8vmax;
}

.soon-content {
  background-color: #579c87;
  border-radius: 0.5vmax;
  width: 20vmax;
  height: 3.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soon-content__title {
  position: relative;
  color: #fdcb46;
  font-size: 2.1vmax;
}

.container-suspension {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 2.5vmax;
  margin-left: 1vmax;
}
.container-suspension .suspension--animation {
  width: 0.4vmax;
  height: 0.4vmax;
  border-radius: 50%;
  background: #fdcb46;
  animation: suspension cubic-bezier(0.71, 0.51, 0.65, 1.02) 1.5s infinite;
}
.container-suspension .suspension--animation:nth-child(0n+2) {
  animation-delay: 300ms;
}
.container-suspension .suspension--animation:nth-child(0n+3) {
  animation-delay: 550ms;
}

@keyframes suspension {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.6vmax);
  }
}
/*
        &--chic{

        }
        &--note{

        }
        &--delice{

        }
        &--palette{

        }
*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 3rem;
}
@media all and (max-width: 600px) {
  .menu__heading {
    margin-top: 4vw;
    font-size: 5vw;
  }
}
@media all and (min-width: 601px) and (max-width: 1024px) {
  .menu__heading {
    font-size: 3rem;
  }
}

.menu-card {
  background: pink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 1200px;
  width: 90vw;
  margin-bottom: 5rem;
  margin-top: 2rem;
  box-shadow: 0 0 20px gainsboro;
}
@media all and (max-width: 600px) {
  .menu-card {
    margin-bottom: 10%;
    margin-top: 2vw;
  }
}

.menu-card-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 20rem;
}
@media all and (max-width: 600px) {
  .menu-card-heading {
    font-size: 3.5vw;
    height: 20vmax;
    max-height: 25vw;
  }
}
@media all and (min-width: 601px) and (max-width: 1024px) {
  .menu-card-heading {
    font-size: 3vw;
    height: 15rem;
    max-height: 25vw;
  }
}

.menu-content {
  margin-bottom: 2vw;
  width: 80%;
}
.menu-content__heading {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  height: 2rem;
}
@media all and (max-width: 600px) {
  .menu-content__heading {
    font-size: 4.5vw;
    height: 2vmax;
    max-height: 4vw;
  }
}
@media all and (min-width: 601px) and (max-width: 1024px) {
  .menu-content__heading {
    height: 1.5rem;
    font-size: 3vw;
  }
}
.menu-content__heading::before {
  content: "";
  background-image: url(../../public/img/chic/chic_gauche.svg);
  position: absolute;
  width: 25%;
  height: 2vmax;
  left: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media all and (max-width: 600px) {
  .menu-content__heading::before {
    height: 4.5vw;
    width: 20%;
  }
}
.menu-content__heading::after {
  content: "";
  background-image: url(../../public/img/chic/chic_droit.svg);
  position: absolute;
  width: 25%;
  height: 2vmax;
  right: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media all and (max-width: 600px) {
  .menu-content__heading::after {
    height: 4.5vw;
    width: 20%;
  }
}
.menu-content__list {
  font-size: 2rem;
  margin: 4rem 0;
}
@media all and (max-width: 600px) {
  .menu-content__list {
    font-size: 4.5vw;
    margin: 5vw 0;
  }
}
@media all and (min-width: 601px) and (max-width: 1024px) {
  .menu-content__list {
    font-size: 2.5vw;
  }
}

.menu-content-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}
@media all and (max-width: 600px) {
  .menu-content-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
}
.menu-content-list__price {
  font-weight: bold;
}
@media all and (max-width: 600px) {
  .menu-content-list__price {
    margin-top: 0.5rem;
  }
}

.menu-card-footer {
  height: 15vmin;
  max-height: 15vw;
}

/*# sourceMappingURL=style.css.map */
