//colors

$color-primary : #579c87;
$color-border : #a1c181;
$color-accent : #fdcb46;

//colors note enchantée

$color-accent-note : #5f2e34;
$color-primary-note :#fcdfdb;

//colors chic a la francaise

$color-accent-chic-1:#cb802f;
$color-accent-chic-2:#aa7cff;
$color-accent-chic-3:#6e4ccc;
$color-accent-chic-4:#a56799;
$color-primary_chic:#fff5fe;

//colors delice des papilles

$color-accent-delice-1:#173bdf;
$color-accent-delice-2:#69baf5;
$color-primary-delice:#f9f9f9;

//colors palette du gout

$color-accent-palette-1:#3e923a;
$color-accent-palette-2:#beff7f;
$color-primary-palette:#fdfffd;

//elements sizes

$header-height : 15vmin;
$header-max-height : 100px;
$menu-cover-width : 40vmax ;
$menu-card-width :85vmax;


//fonts used (short-name : name of file

$fonts:(
    "cambria":"Cambria-W01-Regular",
    "croissant":"croissant-one",
    "dancing":"dancing-script",
    "devonshire":"devonshire-regular",
    "kaushan":"kaushan-script",
    "segoe":"segoe-print-v2"
);



