.header{
    font-size: 2vmax;
}
.footer{
    font-size: 2vmax;
}



.bg{ //----------menus-backgrounds------------------>


    &--note{
        color: $color-accent-note;
        background-color: $color-primary-note; 
    }

    &--chic{
        background-color: $color-primary-chic;
  
    }

    &--delice{
        background-color: $color-primary-delice;
 
    }
    &--palette{
        background-color: $color-primary-palette;

    }
}


.menu-cover{

    &__heading{
        font-size: 4vmax;
        line-height: 8vmax;

        &--chic{
            font-size:3vmax;
        }
    }
    
    &__title{
        font-size: 4vmax;
        line-height: 8vmax;
        font-family: segoe;

        &--chic{
            font-family: cambria;
            color: $color-accent-chic-1;
        }

        &--note{
            text-transform: uppercase;
        }

        &--delice{
            color: $color-accent-delice-2;
        }

        &--palette{
            color: $color-accent-palette-1;
        }
    }
}

//-----------global customs typography

.heading{

    &--chic{
        font-family: croissant;
        @include linearGradient-text($color-accent-chic-1,$color-accent-chic-2);
    }

    &--note{
        font-family: devonshire;
    }

    &--delice{
        font-family: dancing;
        @include linearGradient-text($color-accent-delice-1,$color-accent-delice-2);
    }
    
    &--palette{
        font-family: kaushan;
        @include linearGradient-text($color-accent-palette-1,$color-accent-palette-2);
    }
}

.global-font--chic{
    font-family: cambria;
}