
.mention-page{
    @include flex(space-between,unset,column);
}
.mention{
    width: 500px;
    height: 250px;
    background-color: unset;;
    box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff, inset 4px 4px 8px rgba(209,217,230,.2),inset -8px -8px 8px rgba(255,255,255,.2);
    transform: rotateZ(10deg);

}
